.videos-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: rgb(207, 225, 243);
}