.header {
  background-color: rgb(8, 79, 45);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;

  background-image: url('../assets/rin-header.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.header .left-section {
  width: 250px;
}

@media (max-width: 800px) {
  .header .left-section {
    width: unset;
  }
}

.header .header-link {
  display: contents;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-right: 5px;
}

.header-button {
  padding-top: 10px;
  color: white;
  border: 0px;
  background-color: transparent;
  margin-right: 10px;
}

.header .header-link:hover {
  border: 1px solid white;
}

.header .logo {
  height: 26px;
  margin-top: 1px;
}

.header .mobile-logo {
  display: none;
}

@media (max-width: 675px) {
  .header .logo {
    display: none;
  }

  .header .mobile-logo {
    display: block;
    height: 26px;
    margin-top: 1px;
  }
}

.header .middle-section {
  flex: 1;
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: start;
}

.header .search-bar {
  margin-bottom: 65px;
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.header .search-button {
  border: none;
  border-color: transparent;
  width: 45px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-shrink: 0;
  background-image:
    url('../assets/NadekoThis.png'),
    linear-gradient(90deg,
      rgb(255, 255, 255) 0%,
      rgb(127, 143, 206) 60%, 
      rgb(44, 63, 116) 100%
    );
    
  background-size: 
    80%,
    cover;
  background-position: 
    100%,
    center;
  background-blend-mode: normal;
  background-repeat: no-repeat;
}

.header .search-button:hover {
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  border-color: transparent;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header .right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 30px;
}

.header .right-section .login-button {
  height: 20px;
}

.header .right-section .username-bar {
  margin-bottom: 5px;
}

.header .orders-link {
  color: white;

  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}
.header .orders-link.active {
  color: white;
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}

.header .orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.header .cart-icon {
  width: 38px;
}

.header .cart-text {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
}

.header .cart-quantity {
  color: rgb(8, 79, 45);
  font-size: 14px;
  font-weight: 700;

  position: absolute;
  top: 8.5px;
  right: 46px;

  width: 26px;
  text-align: center;
}